<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>购物列表清单</title>
		<style type="text/css">
			.container {
				width: 40%;
				margin: 20px auto 0px auto;
			}
			
			.removed label {
				text-decoration: line-through;
			}
			
			ul li {
				list-style-type: none;
			}
			
			ul li span {
				margin-left: 5px;
			}
			
			.footer {
				font-size: 0.7em;
				margin-top: 20vh;
			}
		</style>
	</head>

	<body>
		<div id="app" class="container">
			<h2>{{ title }}</h2>
			<div class="input-group">
				<input v-model="newItem" @keyup.enter="addItem" placeholder="添加需购物品……" type="text" class="form-control">
				<span class="input-group-btn">
    				<button @click="addItem" class="btn btn-default" type="button">添加</button>
  				</span>
			</div>
			<ul>
				<li v-for="item in items" :class="{ 'removed': item.checked }">
					<div class="checkbox">
						<label>
				          <input type="checkbox" v-model="item.checked"> {{ item.text }}
				        </label>
					</div>
				</li>
			</ul>
			<div class="footer">
				<hr/>
				<em>改变标题名称：</em>
				<input v-model="title" />
			</div>
		</div>
		<script src="https://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
		<script type="text/javascript">
			var data = {
				items: [{
					text: '香蕉、橘子等水果',
					checked: true
				}, {
					text: '绘画器材',
					checked: false
				}],
				title: '我的购物列表清单',
				newItem: ''
			};

			var app = new Vue({
				el: '#app',
				data: data,
				methods: {
					addItem: function() {
						var text;

						text = this.newItem.trim();
						if(text) {
							this.items.push({
								text: text,
								checked: false
							});
							this.newItem = '';
						}
					}
				}
			});
		</script>
	</body>

</html>